# ==== Django ====
DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1
DJANGO_TIME_ZONE=Europe/Moscow
DJANGO_LANGUAGE_CODE=ru-ru

# ==== База данных (PostgreSQL) ====
POSTGRES_DB=HonestMarkDuty
POSTGRES_USER=honestmark
POSTGRES_PASSWORD=honestmark
POSTGRES_HOST=db
POSTGRES_PORT=5432

# ==== Порты хоста ====
WEB_PORT=8000
PGADMIN_PORT=5050
# POSTGRES_PORT используется и внутри compose, менять только при необходимости

# ==== pgAdmin 4 ====
PGADMIN_DEFAULT_EMAIL=admin@honestmark.ru
PGADMIN_DEFAULT_PASSWORD=honestmark

# ==== Первичная инициализация ====
# Создать суперпользователя при старте (использует DJANGO_SUPERUSER_* )
CREATE_SUPERUSER=0
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin12345
DJANGO_SUPERUSER_EMAIL=admin@honestmark.ru
# Загрузить демонстрационные данные
LOAD_DEMO_DATA=1

# ==== Camera Control (доступ к камерам) ====
CAMERA_CONTROL_URL=http://172.16.16.27:8500
CAMERA_CONTROL_USER=admin
CAMERA_CONTROL_PASSWORD=admin
