{% extends "base.html" %}
{% block title %}Чеклисты{% endblock %}
{% block breadcrumb %}Сменная работа / Чеклисты{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <div class="card-title">Чеклисты</div>
  </div>
  <div class="checklist-catalog">
    <a class="btn btn-sm" href="{% url 'checklists:checklist_list' %}">Осмотр оборудования «Честный знак»</a>
    <a class="btn btn-sm" href="{% url 'checklists:markem' %}">Технический осмотр и обслуживание принтеров Markem Image</a>
  </div>
</div>
{% endblock %}
